# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Environment
.env
.env.*
!.env.example

# Database
*.db
*.sqlite
*.sqlite3

# Logs and temporary files
*.log
*.tmp
*.temp
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/

# VSCode
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store

# tree
tree.txt
